.header {
  &__wrapper {
    grid-area: header;
    flex-direction: column;
    height: fit-content;
  }

  &__container {
    align-items: center;
    justify-content: space-between;

    padding: 20px 35px 20px 35px;
  }

  &__content {
    justify-content: flex-end;
    align-items: center;

    gap: 35px;
  }
}

.icon--profile {
  width: 54px;
  height: 54px;

  border: 2px outset var(--accent--primary);
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    &__container {
      padding: 16px;
    }

    &__content {
      gap: 16px;
    }
  }

  .icon--profile {
    width: 44px;
    height: 44px;
  }
}
