@page "/"

@inject IGenericAdapter<CategoryDTO> _categoryAdapter;
<PageTitle>Home</PageTitle>

@foreach (CategoryDTO item in CategoryDTOs)
{
    <h1>- @item.Name</h1>
    <br/>
}
fsadf
@code
{
    private IEnumerable<CategoryDTO> CategoryDTOs { get; set; } = new List<CategoryDTO>();

    protected override async Task OnInitializedAsync()
    {
        CategoryDTOs = await _categoryAdapter.GetAll();
    }
}

