.accounts__content {
  &--main {
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &--bottom {
    gap: 1rem;
    padding-top: 0.5rem;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0, 0.05);
  }
}

.accounts__widget__container {
  gap: 0;
}

.accounts__carousel--underlay {
  position: relative;
  aspect-ratio: 900 / 625;
  flex: 1 1 auto;
  max-width: -webkit-fill-available;
  background-image: url("../../../../assets/icons/account-underlay.svg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
}

.accounts__carousel--background,
.accounts__carousel--hover {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.accounts__carousel--background {
  background-image: url("../../../../assets/icons/account-background.svg");
  z-index: 1;
  pointer-events: none;
}

.accounts__carousel--hover {
  display: flex;
  background-image: url("../../../../assets/icons/account-hover.svg");
  color: #fff;
  -webkit-font-smoothing: antialiased;
  pointer-events: auto;
}

.accounts__carousel--background > div,
.accounts__carousel--hover > div {
  z-index: 3;
}

.accounts__carousel__indicator svg {
  display: block;
  width: 100%;
}

.accounts__carousel__btn--left,
.accounts__carousel__btn--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
  z-index: 5;
}

.accounts__carousel__btn--left {
  right: auto;
  background-image: url("../../../../assets/icons/carousel-left.svg");

  &:hover {
    background-image: url("../../../../assets/icons/carousel-left--hover.svg");
  }
}

.accounts__carousel__btn--right {
  left: auto;
  background-image: url("../../../../assets/icons/carousel-right.svg");

  &:hover {
    background-image: url("../../../../assets/icons/carousel-right--hover.svg");
  }
}

.carousel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;

  &__item {
    display: none;

    &--selected {
      display: block;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 24px;
    flex: 0 0 auto;
    overflow: hidden;
    flex-shrink: 0;
  }
}

.active-indicator {
  fill: #7763EA;
  transition: transform .35s cubic-bezier(.4, 0, .2, 1);
  transform-box: fill-box;
  transform-origin: center;
}
