/* ===========================
   Layout Wrappers
   =========================== */
.wrapper {
    display: flex;
    width: 100%;
    min-height: 0;
}

.d-col {
    display: flex;
    flex-direction: column;
}

.d-row {
    display: flex;
    flex-direction: row;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-top-right {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.p-0 {
    padding: 0;
}

.pointer {
    cursor: pointer;
}



.bg-inactive {
    background-color: rgba(0, 0, 0, 0.3);
}

/*.modal__wrapper {*/
/*    position: absolute;*/

/*    width: 121px;*/

/*    border: 1px solid var(--border);*/
/*    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);*/
/*    box-shadow:  20px 14px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);*/
/*    border-radius: 15px;*/
/*}*/

.modal-underlay__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed; 
    inset: 0;
    background: rgba(217, 217, 217, 0.35);
}

.modal-underlay__wrapper .modal__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 30vw;
    height: fit-content;

    border-radius: 28px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.log-reg__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*.main__wrapper {*/
/*    flex-direction: column;*/
/*    height: 100vh;*/
/*}*/

/*.content__wrapper {*/
/*    background: #F5F5F5;*/
/*    flex: 1 1 auto;*/
/*    min-height: 0;*/
/*}*/

/*.header__wrapper {*/
/*    flex-direction: column;*/
/*    height: fit-content;*/

/*    background: #F5F5F5;*/
/*}*/

/*.side-bar__wrapper {*/
/*    width: fit-content;*/
/*    opacity: 1;*/
/*    max-width: 300px;*/
/*    transition: max-width 0.5s ease, opacity 0.5s ease, visibility 0.2s ease;*/
/*    background: #F5F5F5;*/

/*    flex-shrink: 0;*/
/*}*/

/*.side-bar__wrapper p {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*    transition: visibility 0.2s, opacity 0.5s 0.1s ease;*/
/*}*/

/*.side-bar__wrapper--collapsed {*/
/*    max-width: 67px;*/
/*}*/

/*.side-bar__wrapper--collapsed p {*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    transition: opacity 0.2s ease, visibility 0.2s ease;*/
/*}*/

/*.center__wrapper {*/
/*    flex-direction: row;*/
/*    flex: 1 1 auto;*/
/*    min-height: 0;*/
/*}*/

/*.widget__wrapper {*/
/*    border-radius: 28px;*/
/*    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);*/
/*    background: #FFFFFF;*/

/*    height: 100%;*/
/*    min-height: 0;*/
/*}*/

/* ===========================
   Containers
   =========================== */
.container {
    display: flex;
    width: 100%;
}

/*.modal__container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    padding: 15px 10px;*/
/*    gap: 15px;*/
/*    */
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.modal-underlay__wrapper .modal__container {
    justify-content: start;
    padding: 35px;
    flex-direction: column;
    gap: 1.5em;
}

/*.modal__content hr {*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    border: none;*/
/*    background: var(--border, #3a3a3a);*/
/*}*/

.log-reg__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 35px;
}

.header__container {
    align-items: center;
    justify-content: space-between;

    padding: 20px 35px 20px 35px;
}

/*.side-bar__container {*/
/*    flex-direction: column;*/
/*    padding: 35px 35px 35px 35px;*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*    gap: 35px;*/
/*}*/

/*.content__container {*/
/*    flex-direction: column;*/
/*    gap: 1.5rem;*/
/*    padding: 0 35px 35px 35px;*/

/*    height: 100%;*/
/*    min-height: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.main-container {
    background: #F5F5F5;
    border-radius: 35px;
}

/*.widget__container {*/
/*    flex-direction: column;*/

/*    gap: 10px;*/
/*    padding: 20px;*/
/*    flex: 1 1 auto;*/
/*    min-height: 0;*/
/*}*/

/* ===========================
   Contents
   =========================== */
.content {
    display: flex;
}

.modal__content {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.modal-underlay__wrapper .modal__content {
    gap: 1em;
}

.modal__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.modal__footer {
    /* Bottom */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.header-content {
    justify-content: flex-end;
    align-items: center;

    gap: 35px;
}

/*.side-bar-content {*/
/*    justify-content: space-between;*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*}*/

/*.transactions__content--top {*/
/*    height: 8vh;*/

/*    flex: none;*/
/*    order: 0;*/
/*    align-self: stretch;*/
/*    flex-grow: 0;*/
/*}*/

/*.transactions__content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    gap: 20px;*/

/*    height: 100%;*/
/*    !* Inside auto layout *!*/
/*    order: 1;*/
/*    align-self: stretch;*/
/*    flex-grow: 0;*/
/*}*/

.dashboard__content--top {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    gap: 35px;

    flex: 1 1 0;
    min-height: 0;
    grid-auto-rows: 1fr;
    align-items: stretch;
}

/*.dashboard__content--bottom {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/

/*    gap: 35px;*/
/*    flex: 1 1 0;*/
/*    min-height: 0;*/
/*    grid-auto-rows: 1fr;*/
/*    align-items: stretch;*/
/*}*/

/*.month-limit__left-content {*/
/*    flex-direction: column;*/

/*    width: 100%;*/
/*    justify-content: space-between;*/
/*}*/

/*.month-limit__right-content {*/
/*    width: 50%;*/
/*}*/

.day-limit__graphic-content {
    height: 100%;
}

.day-limit__bottom-content {
    height: 25%;
    justify-content: space-between;
}

.activities__graphic-content {
    flex: 1 1 auto;
    min-height: 0;
    align-items: center;
    justify-content: center;
}

.activities__graphic-content .graphic {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

/*.accounts__content--main {*/
/*    width: 100%;*/
/*    flex: 1 1 auto;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*}*/


/*.accounts__content--bottom {*/
/*    gap: 1rem;*/
/*    padding-top: 0.5rem;*/
/*}*/

.card__content {
    flex-direction: column;
    justify-content: center;
    padding: 0 2vh 0 3vh;
    width: 100%;
    height: 100%;
    gap: 25%;
}

.card__content--top {
    flex-direction: column;
    justify-content: space-between;
}

.card__content--bottom {
    justify-content: space-between;
    align-items: center;
}

/*.widget__content {*/
/*    gap: 20px;*/
/*    height: 100%;*/
/*}*/

/*.widget__content--control {*/
/*    height: 100%;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.widget__content--title {*/
/*    justify-content: space-between;*/
/*}*/

/*.widget__content--title-right {*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    gap: 1rem;*/
/*}*/

/*.recent-transactions__table-content {*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

/*.table__content {*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

/* ===========================
   Icons
43   =========================== */
.icon {
    width: 32px;
    height: 32px;
}

.icon--base-24 {
    width: 24px;
    height: 24px;
}

.icon--profile {
    width: 54px;
    height: 54px;
}

/*.icon--side-bar__arrow {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/

/*    width: 16px;*/
/*    height: 32px;*/
/*    cursor: pointer;*/
/*    transition: transform 0.5s ease;*/
/*}*/

/*.side-bar__toggle:focus-visible {*/
/*    outline: 2px solid #7763EA;*/
/*    outline-offset: 4px;*/
/*}*/

/*.side-bar__wrapper--collapsed .icon--side-bar__arrow {*/
/*    right: 8px;*/
/*    transform: rotate(180deg);*/
/*}*/

.icon--widget__arrow {
    width: 8px;
    height: 16px;
}

.icon--log-reg__logo {
    height: 93px;
    width: 100%;
    object-fit: contain;
}

.icon--side-bar__logo {
    height: 56px;
    width: fit-content;
    object-fit: contain;
}

/*.icon--table__expense {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background-image: url("../../assets/icons/expense.svg");*/
/*    background-repeat: round;*/
/*}*/

.icon--table__income {
    width: 50px;
    height: 50px;
    background-image: url("../../assets/icons/income.svg");
    background-repeat: round;
}

/* ===========================
   Button Style
   =========================== */
/*.btn {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border-radius: 20px;*/
/*    color: var(--text--primary);*/
/*    cursor: pointer;*/
/*}*/

/*.btn__transaction-switcher {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.btn__transaction-switcher--accent {*/
/*    position: absolute;*/
/*    transform: translateX(-45%);*/
/*    */
/*    width: 50%;*/
/*    height: 85%;*/
/*    background: #FFF;*/
/*    border-radius: 20px;*/
/*    z-index: 0;*/
/*}*/

/*.btn__modal {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    gap: 20px;*/
/*}*/

/*.btn__nav {*/
/*    justify-content: left;*/
/*    border-radius: 10px;*/
/*    padding: 5px 0px 5px 0px;*/
/*}*/

/*.btn_more-actions {*/
/*    display: inline;*/
/*}*/

/*.btn__nav--text {*/
/*    position: relative;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    outline: none;*/
/*    transition: color 0.3s ease, background 0.3s ease;*/
/*    border-radius: inherit;*/
/*}*/

/*.btn_more-actions:hover {background-color: var(--accent--hover)}*/
/*.btn_more-actions:active {background-color: var(--accent--active)}*/

/*.btn__nav--text:hover  { color: var(--text--hover); }*/
/*.btn__nav--text:active  { color: var(--text--active); }*/
/*.btn__nav--text:focus,*/
/*.btn__nav--active  { color: var(--accent--primary); }*/

/*.btn__nav--text:focus:hover  { color: var(--accent--hover); }*/
/*.btn__nav--text:focus:active { color: var(--accent--active); }*/

/*.btn__nav--text:focus::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 4px;*/
/*    border-radius: 2px;*/
/*    background: var(--accent--primary);*/
/*}*/

/*.btn__nav:hover {background-color: var(--text--hover);}*/
/*.btn__nav:active {background-color: var(--text--active); color: var(--text--white)}*/

/*.btn__primary:hover  { background: var(--accent--hover); }*/
/*.btn__primary:active { background: var(--accent--active); }*/

/*.btn__day-limit--fill {*/
/*    height: 100%;*/
/*    width: 35%;*/
/*    background: #7763EA;*/
/*    color: #fff;*/
/*}*/
/*.btn__day-limit--empty {*/
/*    width: 35%;*/
/*    height: 100%;*/

/*    color: #7763EA;*/
/*    background: white;*/
/*    border: 3px #7763EA solid;*/
/*}*/

/*.btn__add-transaction {*/
/*    align-items: center;*/
/*    padding: 0.2em 0.2em;*/
/*    gap: 10px;*/

/*    background: #7763EA;*/
/*}*/

/* ===========================
   Text Style
   =========================== */
.text {
    line-height: normal;

    color: #393B3C;
}

.text__title {
    font-size: 20px;
    font-weight: normal;
}

.text__mega-title {
    font-size: 24px;
    font-weight: normal;
}

.text__title--white {
    color: white;
}

.text__title--bolder-white {
    font-weight: bolder;
    color: white;
}

.text__btn {
    font-size: 18px;
}

.text__link {
    font-size: 16px;
    font-weight: bolder;
    color: #8B78F1;
    cursor: pointer;
}

.text__primary {
    font-size: 28px;
    font-weight: bolder;
}

.text__base {
    font-size: 18px;
    font-weight: normal;
}

.text__base--bold {
    font-size: 18px;
    font-weight: bold;
}

.text__base--inactive {
    color: #9C9D9D;
}

.text__base--white {
    color: #FFFFFF;
}

.text__table {
    font-size: 16px;
    color: #929EAE;
}

.text__table--name {
    font-weight: bolder;
}

.text__table--date {
    text-align: center;
    white-space: pre-line;
}

.text--inactive {
    color: #878787;
}

.text--red {
    color: var(--color--red);
}

.text--green {
    color: var(--color--green);
}

.text--64 {
    font-size: 64px;
}

/* ===========================
   Textarea Section
   =========================== */
.input-section {
    display: flex;
    width: 100%;
    gap: 0.5em;
    flex-direction: column;
}

.input-section__fields {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

/*.input-section__double-field {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 8px;*/
/*}*/

/*.input-section__field {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 8px;*/
/*}*/

/* ===========================
   Textarea Styles
   =========================== */
.input-section__input {
    box-sizing: border-box;
    font-size: inherit;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid #BBBBBB;
    transition: border-color 0.2s ease;
}

.input-section__with-icon-wrapper .input-section__input {
    padding-right: 2.5rem;
}

.input-section__input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.input-section__input--error {
    border-color: #F75555;
}

.input-section__input:focus {
    border-color: #7763EA;
    outline: none;
}

.input-section__input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #9C9D9D;
}

/* ===========================
   Textarea Title
   =========================== */
.input-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #191D23;
}

/* ===========================
   Password Field & Eye Icon
   =========================== */
/*.input-section__with-icon-wrapper {*/
/*    position: relative;*/
/*}*/

.input-section__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.input-section__input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.input-section__icon--hide {
    background-image: url("../../assets/icons/eye-slash.svg");
}

.input-section__icon--show {
    background-image: url("../../assets/icons/eye.svg");
}

/* ===========================
   Login/Register Form Layout
   =========================== */
/*.log-reg {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 16px;*/
/*}*/

/* ===========================
   Remember Me Section
   =========================== */
/*.remember-me {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*    gap: 16px;*/
/*}*/

/*.remember-me__label {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    user-select: none;*/
/*}*/

/*.remember-me__checkbox {*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-image: url("../../assets/icons/tick-empty.svg");*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    margin-right: 8px;*/
/*    cursor: pointer;*/
/*}*/

/*.remember-me__input:checked + .remember-me__label > .remember-me__checkbox {*/
/*    background-image: url("../../assets/icons/tick-fill.svg");*/
/*}*/

/* ===========================
   Login/Register Button Styles
   =========================== */
.log-reg__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    width: 100%;
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
    border: none;
}

.log-reg__button--primary {
    background-color: #7763EA;
    color: white;
}

.log-reg__button--primary:hover {
    background-color: #8B78F1;
}

.log-reg__button--primary:active {
    background-color: #5B4ACC;
}

/* ===========================
   Alternative Action Section
   =========================== */
/*.log-reg-alternative {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/* OR Divider */
/*.log-reg-alternative__or {*/
/*    position: relative;*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*}*/

/*.log-reg-alternative__or::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 1px;*/
/*    background-color: #4B5768;*/
/*    opacity: 0.5;*/
/*    z-index: 0;*/
/*}*/

/* OR Text */
/*.log-reg-alternative__text {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    display: inline-block;*/
/*    background: white;*/
/*    padding: 0 8px;*/
/*    margin: 0;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*    color: #9C9D9D;*/
/*}*/

/* Alternative Reference Link */
/*.log-reg-alternative__ref {*/
/*    display: block;*/
/*    margin-top: 19px;*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    color: #393B3C;*/
/*}*/

.log-reg-alternative__ref:hover {
    color: #4A4D4F;
}

.log-reg-alternative__ref:active {
    color: #2C2E2F;
}

/* ===========================
   Side Bar
   =========================== */
/*.side-bar__nav {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

/*.side-bar__top, .side-bar__bottom {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    gap: 20px;*/
/*}*/

/*.side-bar__arrow {*/
/*    display: inline-block;*/
/*    text-align: end;*/
/*    padding-left: 55px;*/
/*    box-sizing: border-box;*/
/*}*/

/*.side-bar__item {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: 18px;*/
/*    gap: 20px;*/
/*}*/

/* ===========================
   Table
   =========================== */
.table {
    width: 100%;
}

.table th {
    padding-bottom: 10px;
}

.table th:first-child{
    text-align: left;
}

.table td {
    vertical-align: middle;
    text-align: center;

    padding: 10px 0 10px 0;

}

.table-scroll {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.table thead th {
    position: sticky;
    top: 0;
    background: white; /* must cover content behind */
    z-index: 2;
}

.table__column {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.table__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

/*.table__first-block {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    gap: 5px;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*}*/

/* ===========================
   Graphics
   =========================== */
.graphic {
    display: flex;
    justify-content: center;
    width: 100%;
}

.graphic__background--bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 14px;
    background: #F1F1F1;
}

.graphic__background--radial {
    position: relative;
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.graphic__fill--radial {*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    aspect-ratio: 1 / 1;*/
/*    border-radius: 50%;*/
/*    */

/*    background: conic-gradient(from 0deg, #7763EA 0deg, #EA6363 360deg);*/

/*    -webkit-mask: conic-gradient(#fff var(--angle), transparent var(--angle));*/
/*    mask: conic-gradient(#fff var(--angle), transparent var(--angle));*/

/*    transition: --angle 3s ease;*/
/*}*/

/*@property --angle {*/
/*    syntax: '<angle>';*/
/*    initial-value: 0deg;*/
/*    inherits: false;*/
/*}*/

.graphic__fill--bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg, #EA6363 0%, #7763EA 50%);
    border-radius: 14px;
}

.graphic__overlap--radial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    width: 80%;
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: white;

    font-size: 24px;
    font-weight: bold;
    z-index: 1;
}

.graphic__fill--procent {
    font-size: 20px;
    z-index: 1;
    color: #FFFFFF;
}


/* ===========================
   My wallet-accounts
   =========================== */
/*.accounts__widget__container {*/
/*    gap: 0;*/
/*}*/

/*.accounts__carousel--underlay {*/
/*    position: relative;*/
/*    aspect-ratio: 900 / 625;*/
/*    flex: 1 1 auto;*/
/*    max-width: -webkit-fill-available;*/
/*    background-image: url("../../assets/icons/account-underlay.svg");*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    overflow: visible;*/
/*}*/

/*!* Общие позиционирующие свойства для фоновых слоёв *!*/
/*.accounts__carousel--background,*/
/*.accounts__carousel--hover {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*}*/

/*!* фоновый слой (нижний) *!*/
/*.accounts__carousel--background {*/
/*    background-image: url("../../assets/icons/account-background.svg");*/
/*    z-index: 1;*/
/*    pointer-events: none;*/
/*}*/

/*!* hover-слой (визуальный/интерактивный поверх) *!*/
/*.accounts__carousel--hover {*/
/*    display: flex;*/
/*    background-image: url("../../assets/icons/account-hover.svg");*/
/*    color: #fff;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    pointer-events: auto;*/
/*}*/

/*!* контент внутри фоновых слоёв — поверх всех слоёв *!*/
/*.accounts__carousel--background > div,*/
/*.accounts__carousel--hover > div {*/
/*    z-index: 3;*/
/*}*/

/*!* индикатор *!*/
/*.accounts__carousel__indicator {*/
/*    width: 100%;*/
/*    height: 24px;*/
/*    flex: 0 0 auto;*/
/*    overflow: hidden;*/
/*    flex-shrink: 0;*/
/*}*/

/*.accounts__carousel__indicator svg {*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

/*!* стрелки карусели *!*/
/*.accounts__carousel__btn--left,*/
/*.accounts__carousel__btn--right {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    pointer-events: auto;*/
/*}*/

/*.accounts__carousel__btn--left {*/
/*    left: -20px;*/
/*    background-image: url("../../assets/icons/carousel-left.svg");*/
/*    background-position: left center;*/
/*}*/

/*.accounts__carousel__btn--right {*/
/*    right: -20px;*/
/*    background-image: url("../../assets/icons/carousel-right.svg");*/
/*    background-position: right center;*/
/*}*/

/* ===========================
   Recent Transactions
   =========================== */

.view-all {
    display: flex;
    align-items: center;
    gap: 5px;
}

.view-all:hover {
    font-weight: lighter;
}

/* ===========================
   Transactions
   =========================== */

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

/*.table__row-new {*/
/*    border-top: 1px solid #F5F5F5;*/
/*}*/

/* ===========================
   Modal
   =========================== */

/*.transaction-switcher {*/
/*    position: relative;*/
/*    z-index: 0;*/
/*    */
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    padding: 5px 10px;*/
/*    */
/*    height: 40px;*/
/*    width: 100%;*/

/*    !* accent/primary *!*/
/*    background: #7763EA;*/
/*    border-radius: 28px;*/
/*}*/

/*.amount-input {*/
/*    !* Amount *!*/

/*    !* Auto layout *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 0px;*/
/*    gap: 1.5em;*/

/*    width: 100%;*/
/*}*/