.content__container {
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 35px 35px 35px;


  height: 100%;
  box-sizing: border-box;
}

.dashboard {
  min-height: 680px;
  min-width: 1150px;
}

.dashboard__content--top,
.dashboard__content--bottom {
  flex: 1 1 0;                /* 50/50 */
  min-height: 0;              /* важно */
}

.dashboard__content--top {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  gap: 35px;

  grid-auto-rows: 1fr;
  align-items: stretch;
}

.dashboard__content--bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 35px;
  grid-auto-rows: 1fr;
  align-items: stretch;
}

@media (max-width: 1100px) {
  .dashboard {
    min-width: 0;
    min-height: auto;
  }

  .dashboard__content--top {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard__content--bottom {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .dashboard {
    overflow-y: scroll;
  }

  .content__container.dashboard {
    padding-top: 4px;
  }

  .dashboard__content--top,
  .dashboard__content--bottom {
    gap: 16px;
  }

  .dashboard__content--top {
  }

  .dashboard__content--bottom {
    flex-direction: column;
  }
}
