.content__container {
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 35px 35px 35px;


  height: 100%;
  box-sizing: border-box;
}

.dashboard {
  min-height: 680px;
  min-width: 1150px;
}

.dashboard__content--top,
.dashboard__content--bottom {
  flex: 1 1 0;                /* 50/50 */
  min-height: 0;
}

.dashboard__content--top {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  gap: 35px;

  align-items: stretch;
}

.dashboard__content--bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 35px;
  align-items: stretch;
}

.dashboard__content--top > *,
.dashboard__content--bottom > * {
  min-width: 0;
}

@media (max-width: 1330px) {
  .dashboard {
    overflow-y: scroll;
    min-width: 0;
  }

  .dashboard__content--top, .dashboard__content--bottom {
    min-height: auto;
  }

  .dashboard__content--top {
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
  }

  .day-limit {
    order: -1;
  }

  .my-accounts {
    grid-column: 1 / -1;
  }

  .recent-transactions {
    max-height: 400px;
  }

  .dashboard__content--bottom {
    grid-template-columns: 1fr;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .dashboard {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .day-limit {
    order: -1;
  }

  .content__container.dashboard {
    padding-top: 4px;
  }

  .dashboard__content--top,
  .dashboard__content--bottom {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    min-height: auto;
  }

  .dashboard__content--top {
    height: auto;
  }
}
