.input {
  &-with-eye {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;

    &--hide {
      background-image: url("../../assets/icons/eye-slash.svg");
    }

    &--show {
      background-image: url("../../assets/icons/eye.svg");
    }
  }
}